.register {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.title {
  composes: text text_type_main-medium mb-6 from global;
}
.input {
  composes: mb-6 from global;
}
.button {
  composes: mb-20 from global;
}
.caption {
  margin: 0;
  composes: pb-4 from global;
  display: flex;
  align-items: center;
  justify-content: center;

}
.caption:last-of-type {
  padding-bottom: 0;
}

.caption {
  composes: text text_type_main-default text_color_inactive from global;
}
.link {
  color: #4C4CFF;
  text-decoration: none;
}
.link:hover {
opacity: .8;
}
.link:active {
  color: #fff;
  }
  .loader {
    color: #4c4cff !important;
  }