.button {
  padding: 16px 20px;
  display: flex;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  color: #f2f2f3;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 40px;
}
.inactive {
  color: #8585ad;
}
