.burger_constructor {
  composes: pt-25 pl-4 from global;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  justify-content: center;
}
.constructor_wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  composes: mb-10 from global;
}

.total {
  align-self: flex-end;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.price_info {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.price {
  composes: text text_type_digits-medium from global;
}
.currency_icon {
  display: flex;
  align-items: center;
}
.currency_icon svg {
  width: 33px;
  height: 33px;
}
