.list {
  overflow: scroll;
  height: 80vh;
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
