.button {
  border: none;
  background: none;
  cursor: pointer;
  composes: text text_type_main-medium from global;
  color: #8585ad;
}
.button:hover {
  opacity: 0.8;
}

.input {
  composes: mb-6 from global;
}

.caption {
  composes: text text_type_main-default text_color_inactive from global;
  opacity: 0.4;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-beetween;
  column-gap: 25px;
}
.button {
  composes: mb-20 from global;
}
.loader {
  color: #4c4cff !important;
}
