
.ingridient {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 272px;
  cursor: pointer;
}
.image {
  composes: pr-4 pl-4 from global;
  display: inline-block;
  box-sizing: border-box;
}
.price {
  composes: pt-1 pb-1 text text_type_digits-default from global;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.title {
  composes: text text_type_main-default from global;
  text-align: center;
}
